<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>El Truckito</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          We're Martin and Amy, the <strong>digital nomad</strong> duo, and our incredible journey begins with El Truckito, our beloved GMC Sierra truck camper.
        </p>
        <p>
          As modern-day adventurers, we're stepping into the unknown, exploring the world while working remotely, and immersing ourselves in the richness of diverse cultures.
          Join us as we redefine the art of living, embracing a life that's free, untethered, and endlessly inspiring.
  
        </p>
      </div>

    </div>
  </div>
</section>
