<!-- Follow Section -->
<section class="site-section follow-section next-section-indicator" id="follow">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.follow-title }}</h2>
        <hr class="normal">
      </header>

    </div>

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        {% if site.socials %}
        <div class="social-icons">
          <ul class="icons">
            {% if site.socials.instagram %}
            <li><a href="https://instagram.com/{{ site.socials.instagram }}" target="_blank"><i class="fi flaticon-instagram"></i></a></li>
            {% endif %}
            {% if site.socials.youtube %}
            <li><a href="{{ site.socials.youtube }}" target="_blank"><i class="fi flaticon-youtube"></i></a></li>
            {% endif %}
            {% if site.socials.pinterest %}
            <li><a href="{{ site.socials.pinterest }}" target="_blank"><i class="fi flaticon-pinterest"></i></a></li>
            {% endif %}
            {% if site.socials.facebook %}
            <li><a href="https://facebook.com/{{ site.socials.facebook }}" target="_blank"><i class="fi flaticon-facebook"></i></a></li>
            {% endif %}
            {% if site.socials.twitter %}
            <li><a href="{{ site.socials.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>
            {% endif %}
            {% if site.socials.google-plus %}
            <li><a href="{{ site.socials.google-plus }}" target="_blank"><i class="fi flaticon-google-plus"></i></a></li>
            {% endif %}
            {% if site.socials.vimeo %}
            <li><a href="{{ site.socials.vimeo }}" target="_blank"><i class="fi flaticon-vimeo"></i></a></li>
            {% endif %}
            {% if site.socials.vimeo %}
            <li><a href="{{ site.vimeo }}" target="_blank"><i class="fi flaticon-"></i></a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}

      </div>

  </div>


</section>
