<!-- Plan Section -->
<section class="site-section Plan-section next-section-indicator" id="Plan">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>The Plan</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          Our audacious plan is to embark on a thrilling global adventure, venturing to <strong>every single country</strong> on our diverse planet.
        </p>
        <p>
          With a passion for exploration and a quest for cultural enrichment, we'll meticulously chart our course, ensuring no nation is left unexplored.
          This epic journey will transcend borders and immerse us in a kaleidoscope of traditions, languages, and landscapes, forging connections with people from all walks of life.
        </p>
        <p>
          Our plan is to approach each destination with open hearts and minds, embracing the unfamiliar, and celebrating the unique.
          Along the way, we'll savor the taste of a myriad of cuisines, stand in awe of breathtaking natural wonders, and marvel at the architectural marvels of ancient civilizations.
        </p>
        <p>
          This quest to experience the world in its entirety will not only fulfill our wanderlust but also leave an indelible mark on our souls, fostering a profound appreciation for the tapestry of humanity that unites us all.
          As we traverse continents and traverse the globe, our plan is to become global citizens, bridging gaps and breaking barriers, united by our shared love for this incredible planet we call home.
        </p>
        <hr>
        <p>
          <strong>Stage 1: The New World: The Americas. 22 countries. 2022-2025</strong>
        </p>
        <p>
          Stage 2: The Old World: Europe. 49 countries. TBD
        </p>
        <p>
          Stage 3: To The Land Down Under: Asia/Australia. 51 countries. TBD
        </p>
        <p>
          Stage 4: Under a Pirate Flag: The Caribbean. 13 countries. TBD
        </p>
        <p>
          Stage 5: The Big Blue: Oceania. 14 countries. TBD
        </p>
        <p>
          Stage 6: Hakuna Matata: Africa. 54 countries. TBD
        </p>
        <p>
          Bonus Stage: Why Not?!: Antarctica. 0 countries. TBD
        </p>
      </div>

    </div>

  </div>
</section>
