<!-- Plan Section -->
<section class="site-section plan-section section-focus" id="Plan">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>The Plan</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          Our bold plan is to embark on a thrilling global adventure, venturing to <strong>every single country</strong> on our diverse planet.
        </p>
        <p>
          With a passion for exploration and a quest for cultural enrichment, we'll meticulously chart our course, ensuring no nation is left unexplored.
          This epic journey will transcend borders and immerse us in a kaleidoscope of traditions, languages, and landscapes, forging connections with people from all walks of life.
        </p>
        <p>
          Our plan is to approach each destination with open hearts and minds, embracing the unfamiliar, and celebrating the unique.
          Along the way, we'll savor the taste of a myriad of cuisines, stand in awe of breathtaking natural wonders, and marvel at the architectural marvels of ancient civilizations.
        </p>
        <p>
          This quest to experience the world in its entirety will not only fulfill our wanderlust but also leave an indelible mark on our souls. As we traverse continents, our plan is to bridge gaps and break barriers in pursuit of a greater understanding and appreciation for the rich tapestry of humanity.
        </p>
        <p>
          In the pursuit of our dreams, we may encounter great challenges that seem beyond our grasp.
          But fear not, for the path to greatness lies in breaking these ambitions into smaller, conquerable stages.
          Let each milestone become a victory, igniting the fire of motivation within us.
          With each step, we blaze a trail, guiding us ever closer to the ultimate goal.
        </p>
      </div>
    </div>
  </div>
</section>
