<!-- Plan Section -->
<section class="site-section stages-section next-section-indicator" id="Stages">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>The Stages</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
          <strong>Stage 1: The New World: The Americas. 22 countries. 2022-2025</strong>
        </p>
        <p>
          Stage 2: The Old World: Europe. 49 countries. TBD
        </p>
        <p>
          Stage 3: To The Land Down Under: Asia/Australia. 51 countries. TBD
        </p>
        <p>
          Stage 4: Under a Pirate Flag: The Caribbean. 13 countries. TBD
        </p>
        <p>
          Stage 5: The Big Blue: Oceania. 14 countries. TBD
        </p>
        <p>
          Stage 6: Hakuna Matata: Africa. 54 countries. TBD
        </p>
        <p>
          Bonus Stage: Why Not?!: Antarctica. 0 countries. TBD
        </p>
      </div>
    </div>

  </div>
</section>
