<!-- Timer Section -->
<section class="site-section timer-section next-section-indicator" id="Timer">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Time since departure</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <div class="timerContainer">
          <div class="timerSpecificContainer">
            <p id="timerYears"></p>
            <p>Years</p>
          </div>
          <div class="timerSpecificContainer">
            <p id="timerDays"></p>
            <p>Days</p>
          </div>
<!--          <p class="pointsTimer">:</p>-->
          <div class="timerSpecificContainer">
            <p id="timerHours"></p>
            <p>Hours</p>
          </div>
<!--          <p class="pointsTimer">:</p>-->

          <div class="timerSpecificContainer">
            <p id="timerMinutes"></p>
            <p>Minutes</p>
          </div>
<!--          <p class="pointsTimer">:</p>-->

          <div class="timerSpecificContainer">
            <p id="timerSeconds"></p>
            <p>Seconds</p>
          </div>
      </div>
      </div>
    </div>

  </div>
</section>
