<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <p>{{ site.footer-header }}</p>
        </div>

        <div class="footer-info-text">
          <p>{{ site.footer-description }}</p>
        </div>

        {% if site.socials %}
        <div class="social-icons">
          <ul class="icons">
            {% if site.socials.instagram %}
            <li><a href="https://instagram.com/{{ site.socials.instagram }}" target="_blank"><i class="fi fi-brands-instagram"></i></a></li>
            {% endif %}
            {% if site.socials.facebook %}
            <li><a href="https://facebook.com/{{ site.socials.facebook }}" target="_blank"><i class="fi fi-brands-facebook"></i></a></li>
            {% endif %}
            {% if site.socials.tiktok %}
            <li><a href="https://www.tiktok.com/@{{ site.socials.tiktok }}" target="_blank"><i class="fi fi-brands-tik-tok"></i></a></li>
            {% endif %}
            {% if site.socials.youtube %}
            <li><a href="https://www.youtube.com/@{{ site.socials.youtube }}" target="_blank"><i class="fi fi-brands-youtube"></i></a></li>
            {% endif %}
            {% if site.socials.patreon %}
            <li><a href="https://www.patreon.com{{ site.socials.patreon }}" target="_blank"><i class="fi fi-brands-patreon"></i></a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}

      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
          <p>All Right Reserved!</p>
          <p><a href="{{ site.footer-copyright-url }}">{{ site.footer-copyright-text }}</a> &copy; {{
            site.footer-copyright-year }} Copyright</p>
        </div>
      </div>
    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>