<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>

<script>window.am5 || document.write('<script src="{{ site.baseurl }}/js/index.js"><\/script>')</script>
<script>window.am5map || document.write('<script src="{{ site.baseurl }}/js/map.js"><\/script>')</script>
<script>window.am5geodata_worldLow || document.write('<script src="{{ site.baseurl }}/js/worldLow.js"><\/script>')</script>
<script>window.am5geodata_usaLow || document.write('<script src="{{ site.baseurl }}/js/usaLow.js"><\/script>')</script>

<script src="{{ site.baseurl }}/js/countries-been.js" charset="utf-8"></script>