---
layout: page
---

{% for post in page.posts %}
<article class="blog-minimal-article clearfix">
  <a href="{{ site.baseurl }}{{ post.url }}">
    <h1>{{ post.title }}</h1>

    <div>
      <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
    </div>
  </a>
  <div class="blog-articles-container">
    {{ post.description }}
  </div>

  <div class="show-more">
    <a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a>
  </div>

</article>

{% endfor %}
